<% cart.cart_items.each do |cart_item| %>
  <% product = cart_item.product %>
  <li
    class="
      relative flex flex-col items-center justify-between gap-3 border-b border-light-gray-300 py-3
      first:border-t-0
      sm:flex-row sm:gap-10
    "
  >
    <div class="w-full flex grow items-center justify-start gap-4 sm:max-w-[400px]">
      <%= image_tag url_for(product.image), class: "max-w-[100px]" %>
      <h5>
        <%= product.name %>
      </h5>
    </div>
    <div class="flex w-full items-center justify-between">
      <div class="flex">
        <%= link_to cart_cart_item_path(cart, cart_item, increment_value: -1),
          class: 'rounded-md rounded-r-none bg-light-gray-100 p-1 transition-colors hover:bg-gray-300',
          'data-turbo-method': :patch do
        %>
          <%= inline_svg_tag 'minus' %>
        <% end %>
        <h4 class="min-h-8 min-w-8 bg-light-gray-100 p-1 text-center font-bold">
          <%= cart_item.quantity %>
        </h4>
        <%= link_to cart_cart_item_path(cart, cart_item, increment_value: 1),
          class: 'rounded-md rounded-l-none bg-light-gray-100 p-1 transition-colors hover:bg-gray-300',
          'data-turbo-method': :patch do
        %>
          <%= inline_svg_tag 'plus' %>
        <% end %>
      </div>
      <div class="flex items-center gap-2 sm:gap-0">
        <h4 class="font-semibold">
          <%= number_to_RU_currency(cart_item.total_price) %>
        </h4>
        <%= link_to polymorphic_path([cart, cart_item]),
          data: {
            'turbo-method': :delete,
            'turbo_confirm': 'Вы действительно хотите удалить товар?'
          } do %>
          <%= inline_svg_tag 'trash',
            class: 'sm:absolute sm:right-0 sm:top-3 [&>path]:transition-colors [&>path]:hover:fill-light-gray-500' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>