<div class="w-full mb-20">
  <header class="mb-8 flex flex-wrap items-center justify-between gap-6 sm:flex-nowrap">
    <h1 class="grow font-semibold">
      Корзина
    </h1>
    <% if cart.cart_items.present? %>
      <div>
        <span>
          <%= link_to 'Очистить корзину', destroy_all_cart_cart_items_path(cart),
            class: 'transition-colors hover:text-dark-gray-900',
            data: {
              'turbo-method': :delete,
              'turbo_confirm': 'Вы действительно хотите очистить корзину?'
            } %>
        </span>
      </div>
    <% end %>
  </header>

  <% if @cart.cart_items.blank? %>
    <div class="py-20">
      <%= inline_svg_tag 'cart-empty', class: 'mx-auto mb-6' %>
      <div class="text-center">
        <h2 class="font-semibold mb-2">
          В корзине нет товаров
        </h2>
        <h5>
          Добавьте товар из каталога.
        </h5>
      </div>
    </div>
  <% end %>

  <%= turbo_frame_tag @cart do %>
    <%= render @cart %>
  <% end %>

  <%= turbo_frame_tag 'cart_info' do %>
    <%= render 'carts/cart_info', cart: cart %>
  <% end %>
</div>