<div class="w-full mb-20">
  <%= turbo_frame_tag 'cart_header' do %>
    <%= render 'cart_header', cart: @cart %>
  <% end %>

  <%= turbo_frame_tag 'empty_state' do %>
    <% if @cart.cart_items.blank? %>
      <%= render 'empty_state' %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag @cart do %>
    <%= render @cart %>
  <% end %>

  <%= turbo_frame_tag 'cart_info' do %>
    <%= render 'cart_info', cart: @cart %>
  <% end %>
</div>
